.job-position {
  padding: 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 15px 5px #3ea19c3c;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  @media screen and (max-width: 800px) {
    & {
      flex-direction: column;
      padding: 60px 30px 30px;
    }
  }

  &:hover {
    border-left: 4px solid #3ea19c;
    padding-left: 26px;
  }

  @media screen and (max-width: 500px) {
    & {
      flex-direction: column;
      padding: 60px 15px 15px;
    }

    &:hover {
      padding-left: 11px;
    }
  }

  &__img {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;

    @media screen and (max-width: 800px) {
      & {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
      }
    }

    @media screen and (max-width: 500px) {
      & {
        top: 0;
        left: 0;
        transform: translate(25%, -50%);
      }
    }
  }

  &__info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 800px) {
      & {
        flex-direction: column;
      }
    }

    @media screen and (max-width: 500px) {
      & {
        gap: 15px;
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (max-width: 500px) {
      & {
        width: 100%;
      }
    }
  }

  &__row {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;

    &_border {
      @media screen and (max-width: 500px) {
        & {
          padding-top: 15px;
          border-top: 1px solid #909090;
        }
      }
    }
  }

  &__company {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 700;
    color: #53aac0;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }

  &__badge {
    padding: 6px;
    background: #53aac0;
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    &_black {
      background: #3f3f3f;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    transition: color 0.2s;

    &:hover {
      cursor: pointer;
      color: #53aac0;
    }
  }

  &__info-text {
    margin: 0;
    padding: 0;
    color: #909090;
    font-size: 12px;
    font-weight: 500;
  }

  &__dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #909090;
  }

  &__skill {
    padding: 8px;
    color: #53aac0;
    border-radius: 4px;
    background: #f0faff;
    font-size: 13px;
    font-weight: 700;
    transition: opacity 0.2s, color 0.2s;

    &:hover {
      cursor: pointer;
      color: #fff;
      background: #53aac0;
    }
  }
}
