.app {
  padding: 120px 0;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  &__container {
    max-width: 800px;
    width: 100%;
  }
}
